[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
django-allauth = "*"
python-decouple = "*"
requests = "*"
pyjwt = "*"
cryptography = "*"
django-widget-tweaks = "*"
channels = "*"
channels-redis = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.12"
