{% extends 'base.html' %}
{% load static %}
{% block title %}Logout{% endblock %}
{% block content %}

<div class="container text-center mt-5">
    <h1 class="mb-4">Are you sure you want to log out?</h1>
    <div class="d-flex justify-content-center">
        <form action="{% url 'logout' %}" method="post" class="me-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Log Out</button>
        </form>
        <a href="{% url 'home' %}" class="btn btn-secondary">Go Home</a>
    </div>
</div>
{% endblock%}